.vscode
.idea
.DS_Store
*.js
*.js.map
*.log
package-lock.json
src/*.d.ts
!src/index.d.ts
!src/references.d.ts
demo/*.d.ts
!demo/references.d.ts
demo/platforms
node_modules
publish/src
publish/package
