TextField, TextView {
	margin: 10;
	padding: 5;
	border-color: black;
	border-width: 1;
}

TextView {
	padding: 8;
	font-size: 14;
}

GridLayout {
	padding: 10;
}

Switch {
	horizontal-align: right;
}

Label {
	margin: 10 0;
}

Label.title {
	font-weight: bold;
	text-align: center;
}

Label.disabled {
	color: #bbb;
}